.AppContainer {
  max-width: 1100px;
  margin: 0 auto;
}

.TasklistContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.TaskListItem {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TaskList-ul {
  width: 100%;
  max-width: 900px;
  padding: 0;
  margin: 0;
}

.task-length {
  text-align: center;
  margin-bottom: 5px;
}

.TaskListItem input {
  margin-right: 10px;
}

.TaskListItem span {
  flex: 1;
}

.TaskListItem button {
  cursor: pointer;
}

.detail-social-delete-container {
  display: flex;
  align-items: center;
}

.icon-button {
  color: #0d6efd;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: center; 
}

.social-icon {
  font-size: 1.5em; /* Adjust the size as needed */
}

.icon-button:hover {

  color: #032963; 
}

.TaskListItem a {
  text-decoration: none;
}

.ViewDetailsLink {
  color: white;
  cursor: pointer;
  padding: 0px 5px;
  border-radius: 5px;
  background-color: #007bff;
}

.FormWrapper {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.FormTitle {
  text-align: center;
  color: #333;
}

.StyledForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.FormLabel {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Additional styling for checkboxes */
.FormLabel input[type="checkbox"] {
  margin-right: 5px;
  margin-top: 1px;
}

.StyledInput {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.CheckboxContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.StyledSelect {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.StyledButton {
  cursor: pointer;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
}

.DeleteButton {
  cursor: pointer;
  padding: 2px 5px;
  background-color: lightcoral;
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 1.5rem;
}

.TaskDetailsContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
}

footer {
  max-width: 100%;
  background-color: #333;
  color: white;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

@media (max-width: 700px) {
  .FormWrapper {
    width: 400px;
  }
  .TaskListItem {
    display: flex;
    text-align: center;
    font-size: smaller;
  }
  .TaskListItem .DeleteButton {
    margin: 0;
  }
}
@media (max-width: 400px) {
  .FormWrapper {
    width: 300px;
  }
  .TaskListItem {
    font-size: xx-small;
  }
  .TaskListItem .DeleteButton {
    width: fit-content;
    height: fit-content;
    padding: 1px 1px;
    margin: 5px;
  }
  .social-icon {
    font-size: 0.8rem;
  }
  .DeleteButton {
    font-size: 0.8rem;
  }
}
