.AppContainer {
  max-width: 1100px;
  margin: 0 auto;
}

.TaskListItem {
  max-width: 800px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TaskList-ul {
  padding: 0;
  margin: 0;
}

.task-length {
  text-align: center;
  margin-bottom: 5px;
}

.TaskListItem input {
  margin-right: 10px;
}

.TaskListItem span {
  flex: 1;
}

.TaskListItem button {
  cursor: pointer;
}

.TaskListItem a {
  text-decoration: none;
}

.ViewDetailsLink {
  color: white;
  cursor: pointer;
  padding: 0px 5px;
  border-radius: 5px;
  background-color: #007bff;
}

.FormWrapper {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.FormTitle {
  text-align: center;
  color: #333;
}

.StyledForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.FormLabel {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Additional styling for checkboxes */
.FormLabel input[type="checkbox"] {
  margin-right: 5px;
  margin-top: 1px;
}

.StyledInput {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.CheckboxContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.StyledSelect {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.StyledButton {
  cursor: pointer;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
}

.DeleteButton {
  cursor: pointer;
  padding: 2px 5px;
  background-color: lightcoral;
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 1.5rem;
}

.TasklistContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 2rem;
}

.TaskDetailsContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
}

@media (max-width: 700px) {
  .FormWrapper {
    width: 400px;
  }
  .TaskListItem {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .TaskListItem .DeleteButton {
    margin: 0;
  }
}
@media (max-width: 400px) {
  .FormWrapper {
    width: 300px;
  }
}
