.AppContainer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem;
}

.TasklistContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.tasklist-info {
  text-align: center;
}

.TaskListGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Justera minmax baserat på ditt designbehov */
  gap: 20px;
  min-height: 300px;
}

.TaskListCard {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TaskListItem {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.task-actions {
  display: flex;
  align-items: center;
}

.task-actions > * {
  margin-right: 10px;
}

.task-actions button.DeleteButton {
  margin-left: auto;
}

.TaskList-ul {
  width: 100%;
  max-width: 900px;
  padding: 0;
  margin: 0;
}

.task-length {
  text-align: center;
  margin-bottom: 5px;
}

.TaskListItem input {
  margin-right: 10px;
}

.TaskListItem span {
  flex: 1;
}

.TaskListItem button {
  cursor: pointer;
}

.detail-social-delete-container {
  display: flex;
  align-items: center;
}

.confirmation-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-button {
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.icon-button:hover {
  color: #1da1f2;
}

.icon-button:focus {
  outline: 2px solid #007BFF; 
}

.social-icon {
  font-size: 1.5em;
}

.TaskListItem a {
  text-decoration: none;
}

.ViewDetailsLink {
  color: white;
  cursor: pointer;
  padding: 0px 7px;
  border-radius: 5px;
  background-color: #333;
}

.ViewDetailsLink:hover {
  background-color: #0d6efd;
}

.FormWrapper {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.FormTitle {
  text-align: center;
  color: #333;
}

.StyledForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.FormLabel {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.FormLabel input[type="checkbox"] {
  margin-right: 5px;
  margin-top: 1px;
}

.StyledInput {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.CheckboxContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.StyledSelect {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.StyledButton {
  cursor: pointer;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
}

.DeleteButton {
  cursor: pointer;
  padding: 2px 5px;
  background-color: lightcoral;
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 1.5rem;
}

.DeleteButton:hover {
  background-color: #bebebe;
  color: black;
}

.TaskDetailsContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
}

footer {
  max-width: 100%;
  background-color: #333;
  color: white;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

@media (max-width: 700px) {
  .FormWrapper {
    width: 100%;
  }

  .TaskListContainer {
    padding: 10px;
  }

  .TaskListItem {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .TaskListItem .DeleteButton {
    margin: 10px 0;
  }
}

@media (max-width: 400px) {
  .TaskListCard {
    max-width: 90%;
  }
}

/* Galaxy Fold specific styles */
@media (max-width: 280px) {
  .TaskListGrid {
    grid-template-columns: repeat(
      auto-fill,
      minmax(100%, 1fr)
    ); /* Anpassa efter behov */
  }

  .TaskListItem {
    text-align: center; /* Anpassa texten för att centreras */
  }

  .TaskListCard {
    max-width: 100%;
  }
  .task-actions {
    flex-direction: column;
  }
}
